/* Gerais */
body {
  font-family: "Roboto", sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/* Barra de navegação */
header,
.navbar {
  background-color: #353d41;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem 0.8rem;
}

/* Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #fff;
}

.main-btn {
  background-color: #65daf9;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: 0.5s;
}

.main-btn:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border: 3px solid #65daf9;
}

.carousel-indicators .active {
  background-color: #65daf9;
}

/* Sobre a empresa */

#about-area {
  background-color: #f9f9f9;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #65daf9;
  margin-right: 15px;
}

/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i,
.service-box h4 {
  transition: 0.5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i,
.service-box:hover > h4 {
  color: #65daf9;
}

/* Dados da Empresa */

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #fff;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/* team */

.card-body {
  text-align: center;
}

/* Trabalhe Conosco */

#apply-area {
  height: 500px;
}

#apply-area .container-fluid,
#apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  text-align: center;
  padding: 70px 50px;
}

#pattern-img h4,
#pattern-img p {
  color: #fff;
}
#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #fff;
}

#apply-btn:hover {
  background-color: #65daf9;
  border-color: #65daf9;
}

/* Portifolio */

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portifolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

#portifolio-area .filter-btn.active,
#portifolio-area .filter-btn:hover {
  background-color: #65daf9;
  color: #fff;
  border-color: #65daf9;
}

/* News area */

#news-area {
  text-align: center;
  background-color: #f9f9f9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #65daf9;
  display: inline;
  box-sizing: border-box;
  width: 35%;
  height: 40px;
}

#news-btn {
  box-sizing: border-box;
  display: inline;
  border-radius: 0;
  background-color: #65daf9;
  color: #fff;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #65daf9;
  text-transform: uppercase;
  padding: 0 30px;
  margin-left: -130px;
  transition: 0.5s;
  position: absolute;
}

#news-btn:hover {
  background-color: #fff;
  color: #65daf9;
}

/* Call to action */

#call-area .container {
  padding: 40px 100px;
}

#call-area {
  background-color: #65daf9;
  text-transform: uppercase;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}

#call-area #call-btn {
  background-color: #fff;
  color: #65daf9;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
}

/* Footer */

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3ec1d5;
}

.contact-box i {
  color: #444;
  border: 1px solid #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-title {
  font-weight: bold;
  color: #3ec1d5;
}

#msg-box p {
  font-size: 22px;
}

#contact-area input[type="email"],
#contact-area input[type="text"],
#contact-area textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #3ec1d5;
}

/* Copy */

#copy-area {
  background-color: #f1f1f1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3ec1d5;
}

/* Responsive */

@media (max-width: 768px) {
  /* Geral */
  .container {
    padding: 20px 0;
  }

  /* Slider */
  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 24px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption {
    left: 10%;
    right: 10%;
  }

  /* About */
  #about-area img {
    margin-top: 33%;
  }

  /* Data */
  .circle-box div {
    padding: 0 20px;
  }

  #data-area p {
    font-size: 16px;
  }

  /* Team */

  .card-title {
    font-size: 15px;
  }

  .card-text {
    font-size: 12px;
  }

  /* Apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* News */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 60%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p,
  #call-area #call-btn {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  /* Slider */
  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    font-size: 14px;
  }

  /* About */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* Data */
  .circle-box {
    width: 50%;
  }

  /* Team */
  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* Apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* Filter */

  #filter-btn-box {
    margin-bottom: 20px;
  }

  #portifolio-area .filter-btn {
    margin: 10px;
  }

  .project-box {
    width: 50%;
  }

  /* News */

  #news-area .main-title {
    font-size: 24px;
  }

  #news-area .main-title::after {
    width: 28%;
    top: 32px;
    left: 35%;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    border-radius: 20px;
    width: 75%;
    font-size: 14px;
  }

  #news-btn {
    margin-left: -111px;
    width: 26%;
    padding: 0 10px;
  }

  /* Call to action */

  #call-area .container {
    padding: 15px 0 20px 0;
  }

  #call-area p {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area #call-btn {
    margin-left: 0;
    width: unset;
    letter-spacing: 0;
  }

  /* Contact */
  .contact-box {
    margin-bottom: 0;
    border: none;
  }
}
